*~
*/*~
EventDisplay
Outputs
Simulation
qc.json
*.txt
*.root
*/*.root
*.pdf
*.png
*/*.pdf
*/*.png
*.meta4
Mapping/convert-map
dpl-config.json
*/dpl-config.json
core_dump*
*/core_dump*
QC-example
QC-*
