*~
*/*~
EventDisplay
Outputs
Simulation
Software
QC-*
qc.json
*.txt
*.root
*.pdf
*.png
*/*.pdf
*/*.png
*.meta4
Mapping/convert-map
dpl-config.json
*/dpl-config.json
core_dump*
*/core_dump*
QC-*
callgrind.*
config-*
